* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    padding-bottom: 0.3em;
}
p{
    padding-bottom: 0.1em;
}
body {
    min-height: 100vh;
    max-width: 700px;
    background-color: white; 
    margin: 0 auto;
    padding: 0 20px 0 20px;
}
.intro{
    text-align: center;
}
header {
    padding-top: 25px;
    padding-bottom: 40px;
}
.description {
    padding-bottom: 10px;
}
.recipe-container {
  /* We first create a flex layout context */
  display: flex;
}
.card {
    flex-grow: 1;
    height: 100px;
  }
  
.card + .card {
    margin-left: 2%;
  }
footer {
    margin-top:20px;
    margin-bottom: 20px;
  }